.page-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 0 43px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 46px 0 43px;
  }
}

.page-footer__site-nav {
  @include mobile-only {
    display: none;
  }
}

.page-footer__logo {
  margin-bottom: 32px;
}
